<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Local Newspaper</title>
  </head>
  <body>
    
    <div class="container mt-5">
        <div class="row"> 
            <div class="col-md-12">
                <h1>Local Newspaper</h1>
                <h2> Your newspaper for: <%= @location %> </h2>
            </div>
        </div>    
    
        <div class="row"> 
            <p></p>
             <div class="col-md-8">
                <p></p>
                <div class="jumbotron">
                    <% if @current_icon == "clear-day" %>
                        <i class="fas fa-sun"></i>
                    <% elsif @current_icon == "clear-night" %>
                        <i class="fas fa-moon"></i>
                    <% elsif @current_icon == "partly-cloudy-day" %>
                        <i class="fas fa-cloud-sun"></i>
                    <% elsif @current_icon == "partly-cloudy-night" %>
                        <i class="fas fa-cloud-night"></i>
                    <% elsif @current_icon == "cloudy" %>
                        <i class="fas fa-cloud"></i>
                    <% elsif @current_icon == "rain" %>
                        <i class="fas fa-cloud-rain"></i>
                    <% elsif @current_icon == "sleet" %>
                        <i class="fas fa-cloud-sleet"></i>
                    <% elsif @current_icon == "snow" %>
                        <i class="fas fa-cloud-snow"></i>
                    <% elsif @current_icon == "wind" %>
                        <i class="fas fa-wind"></i>
                    <% elsif @current_icon == "fog" %>
                        <i class="fal fa-fog"></i>
                    <% else %>
                        img not found
                    <% end %>  
                    
                    <h1 class="display-4">
                    In <%= @location %>, it is currently <%= @current_temperature %> degrees and <%= @current_conditions %>.</h1>
                </div>
                    <p></p>

                <h4><em>Forecast for this week</em></h4>
                    <% for item in @day %> 
                        <p> <%= Time.at(item["time"]).strftime("%a") %>: <%= item["temperatureHigh"] %> degrees and <%= item["summary"] %> </p>
                    <% end %>

                    
            </div>

            <div class="col-md-4">
                <h3> Top national headlines </h3>
                <% for article in @top_articles %>
                <p> <img src= "<%= article["urlToImage"] %>" </img> </p>
                <p> <a href= "<%= article["url"] %>"> <%= article["title"] %> </a> </p>
                <% end %>
            </div>
        </div>  
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>